body {
    background-color: rgb(193, 211, 233);
}

.card {
    margin: 10px;
    border: 1px solid #bbb;
    text-align: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.23);
}

#Porfolio {
    width: 90%;
    margin: auto;
}

.slick-prev:before,
.slick-next:before {
    font-size: 25px;
}

.mynavbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 999;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}

.homepage {
    width: 100%;
    height: calc(100vh - 56px);
    background-image: url("./img/SleepingDogs.jpg");
    /*min-height: 700px;*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* 卡片css內容*/

.card_container {
    /*display: flex;
    flex-wrap: nowrap;
    grid-gap: 1rem;
    padding: 1rem;
    width: 100%;
    margin: 0 auto;
    justify-content: center;*/
    display: grid;
    place-items: center;
    grid-gap: 1rem;
    padding: 1rem;
    margin: 0 auto;
}

@media (min-width: 600px) {
    .card_container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 800px) {
    .card_container {
        grid-template-columns: repeat(4, 1fr);
    }
}

.card_common {
    /*flex: 0 0 22%;
    justify-content: center;
    align-items: center;
    margin: 10px 20px;*/
    height: 550px;
    position: relative;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    padding: 1rem;
    width: 100%;
    text-align: center;
    color: whitesmoke;
    background-color: whitesmoke;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}

.card_test {
    /*flex: 0 0 22%;
    justify-content: center;
    align-items: center;
    margin: 10px 20px;*/
    height: 550px;
    position: relative;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    padding: 1rem;
    width: 100%;
    text-align: center;
    color: whitesmoke;
    background-color: whitesmoke;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}

.card_test::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150%;
    background-size: cover;
    background-position: 0 0;
    transform: translateY(50%);
    transition: transform calc(700ms * 1.5) cubic-bezier(0.19, 1, 0.22, 1);
    pointer-events: none;
}

.card_common::before {
    content: '';
    position: absolute;
    top: 0;
    left: 20;
    width: 100%;
    height: 450%;
    background-size: cover;
    background-position: 0 0;
    transition: transform calc(700ms * 1.5) cubic-bezier(0.19, 1, 0.22, 1);
    pointer-events: none;
}

.card_common::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    pointer-events: none;
    background-image: linear-gradient( to bottom, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, 0.009) 11.7%, hsla(0, 0%, 0%, 0.034) 22.1%, hsla(0, 0%, 0%, 0.072) 31.2%, hsla(0, 0%, 0%, 0.123) 39.4%, hsla(0, 0%, 0%, 0.182) 46.6%, hsla(0, 0%, 0%, 0.249) 53.1%, hsla(0, 0%, 0%, 0.320) 58.9%, hsla(0, 0%, 0%, 0.394) 64.3%, hsla(0, 0%, 0%, 0.468) 69.3%, hsla(0, 0%, 0%, 0.540) 74.1%, hsla(0, 0%, 0%, 0.607) 78.8%, hsla(0, 0%, 0%, 0.668) 83.6%, hsla(0, 0%, 0%, 0.721) 88.7%, hsla(0, 0%, 0%, 0.762) 94.1%, hsla(0, 0%, 0%, 0.790) 100%);
    transform: translateY(-50%);
    transition: transform calc(700ms * 2) cubic-bezier(0.19, 1, 0.22, 1);
}

.card_common::after {
    transform: translateY(0);
}

.card_common:hover,
.card_common:focus-within {
    align-items: center;
}

.card_common:hover::before,
.card_common:focus-within::before {
    transform: translateY(-24%);
}

.card_common:hover::after,
.card_common:focus-within::after {
    transform: translateY(-50%);
}

.card1 {
    background-image: url("./img/views1.jpg");
}

.card2 {
    background-image: url("./img/views2.jpg");
}

.card3 {
    background-image: url("./img/views3.jpg");
}

@-webkit-keyframes fadeInUpBig1 {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 200px, 0);
        transform: translate3d(0, 200px, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInUpBig1 {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 200px, 0);
        transform: translate3d(0, 200px, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}