@charset "UTF-8";
body {
  background-color: #FFF;
}

#Porfolio {
  width: 90%;
  margin: auto;
}

.homepage {
  width: 100%;
  height: 100vh;
  background-image: url("./img/SleepingDogs.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar-custom {
  background-color: transparent;
}

.navbar-custom .navbar-toggler-icon {
  background-image: url("./img/menu.png");
}

.navbar-custom .navbar-text {
  color: #FFF;
}

.navbar-custom .navbar-nav .nav-link {
  color: #FFF;
}

.navbar-nav .nav-item a {
  cursor: pointer;
}

.mynavbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1000;
  position: fixed;
  width: 100%;
}

.mynavbarscroll {
  background-color: #ff5500;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: background-color 0.8s ease;
  transition: background-color 0.8s ease;
}

#collapsibleNavbar {
  text-align: right;
}

#collapsibleNavbar .mynavbarul {
  float: right;
}

.contentBox {
  text-align: center;
}

.mySlider {
  width: 95%;
  margin: auto;
}

.mySlider .mySliderItem {
  width: 400px;
  margin: 5px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
}

/* 卡片特效 */
.card_container {
  display: -ms-grid;
  display: grid;
  place-items: center;
  grid-gap: 1rem;
  padding: 1rem;
  margin: 0 auto;
}

@media (min-width: 600px) {
  .card_container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding: 20px;
  }
}

@media (min-width: 840px) {
  .card_container {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

.card_common {
  height: 550px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}

.card_common::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  background-size: cover;
  background-position: 0 0;
  -webkit-transition: -webkit-transform calc(700ms * 1.5) cubic-bezier(0.19, 1, 0.22, 1);
  transition: -webkit-transform calc(700ms * 1.5) cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform calc(700ms * 1.5) cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform calc(700ms * 1.5) cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform calc(700ms * 1.5) cubic-bezier(0.19, 1, 0.22, 1);
  pointer-events: none;
}

.card_common::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(11.7%, rgba(0, 0, 0, 0.009)), color-stop(22.1%, rgba(0, 0, 0, 0.034)), color-stop(31.2%, rgba(0, 0, 0, 0.072)), color-stop(39.4%, rgba(0, 0, 0, 0.123)), color-stop(46.6%, rgba(0, 0, 0, 0.182)), color-stop(53.1%, rgba(0, 0, 0, 0.249)), color-stop(58.9%, rgba(0, 0, 0, 0.32)), color-stop(64.3%, rgba(0, 0, 0, 0.394)), color-stop(69.3%, rgba(0, 0, 0, 0.468)), color-stop(74.1%, rgba(0, 0, 0, 0.54)), color-stop(78.8%, rgba(0, 0, 0, 0.607)), color-stop(83.6%, rgba(0, 0, 0, 0.668)), color-stop(88.7%, rgba(0, 0, 0, 0.721)), color-stop(94.1%, rgba(0, 0, 0, 0.762)), to(rgba(0, 0, 0, 0.79)));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: -webkit-transform calc(700ms * 2) cubic-bezier(0.19, 1, 0.22, 1);
  transition: -webkit-transform calc(700ms * 2) cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform calc(700ms * 2) cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform calc(700ms * 2) cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform calc(700ms * 2) cubic-bezier(0.19, 1, 0.22, 1);
}

.card_common::after {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.card_common:hover::after, .card_common:focus-within::after {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.card_common:hover::before, .card_common:focus-within::before {
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
}

.card_common:hover .card-info {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.card_common:hover .card-info p {
  opacity: 1;
}

.card_common:hover .card-info,
.card_common:hover .card-info p {
  -webkit-transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}

.card_common:hover .card-info:after {
  -webkit-transition: 5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: 5s cubic-bezier(0.19, 1, 0.22, 1);
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.card1 {
  background-image: url("./img/views1.jpg");
}

.card1::before {
  background-image: url("./img/views1.jpg");
}

.card2 {
  background-image: url("./img/views2.jpg");
}

.card2::before {
  background-image: url("./img/views2.jpg");
}

.card3 {
  background-image: url("./img/views3.jpg");
}

.card3::before {
  background-image: url("./img/views3.jpg");
}

.card4 {
  background-image: url("./img/views4.jpg");
}

.card4::before {
  background-image: url("./img/views4.jpg");
}

/* 卡片內容 */
.card-info {
  padding: 20px;
  position: absolute;
  bottom: 0;
  color: #fff;
  -webkit-transform: translateY(40%);
          transform: translateY(40%);
  -webkit-transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  z-index: 100;
}

.card-info p {
  opacity: 0;
  text-shadow: black 0 2px 3px;
  -webkit-transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.card-info * {
  position: relative;
  z-index: 1;
}

.card-info:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.6)));
  background-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.6) 100%);
  background-blend-mode: overlay;
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.card-info h2 {
  font-family: "Playfair Display";
  font-size: 36px;
  font-weight: 700;
  text-shadow: rgba(0, 0, 0, 0.5) 0 10px 10px;
}
/*# sourceMappingURL=portfolio.css.map */