@charset "UTF-8";
body {
  background-image: linear-gradient(-50deg, #dfe9f3 0%, white 100%);
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

*::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

#Porfolio {
  width: 90%;
  margin: auto;
}

.volleyball:hover {
  -webkit-animation-name: rolling;
          animation-name: rolling;
  -webkit-animation-duration: 1.3s;
          animation-duration: 1.3s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.navbar-dashed {
  width: 98%;
  height: 98%;
  border: 2px dashed #f7eeee;
  border-radius: 5px;
}

.navbar-brand {
  cursor: pointer;
}

.homepage {
  width: 100%;
  height: 100vh;
  background: url("./img/SleepingDogs.jpg");
  text-align: center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar-custom {
  background-color: transparent;
}

.navbar-custom .navbar-toggler-icon {
  background-image: url("./img/menu.png");
}

.navbar-custom .navbar-nav .nav-link {
  font-weight: 500;
  margin: 0 10px;
  color: #040d41;
  letter-spacing: 2px;
}

@media (min-width: 600px) {
  .navbar-custom .navbar-nav .nav-link {
    color: #e4e4e4;
  }
  .navbar-custom .navbar-nav .nav-link:hover {
    color: #fff;
    -webkit-animation-name: heartBeat;
    animation-name: heartBeat;
    -webkit-animation-duration: 1.3s;
    animation-duration: 1.3s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }
  .navbar-custom .navbar-nav .nav-link::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    -webkit-transition: width 0.3s;
    transition: width 0.3s;
  }
  .navbar-custom .navbar-nav .nav-link:hover::after {
    width: 100%;
    color: #fff;
  }
}

.MenuName {
  color: #fff;
  margin: 10px;
  letter-spacing: 2px;
}

.navbar-nav .nav-item a {
  cursor: pointer;
}

.mynavbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1000;
  position: fixed;
  width: 100%;
  height: 55px;
}

.mynavbarscroll {
  background-color: #0e2a47;
  height: 55px;
  -webkit-box-shadow: inset 0px 25px 30px -7px rgba(255, 255, 255, 0.15), 0 5px 3px -2px #010a29;
          box-shadow: inset 0px 25px 30px -7px rgba(255, 255, 255, 0.15), 0 5px 3px -2px #010a29;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

#collapsibleNavbar {
  text-align: right;
}

#collapsibleNavbar .mynavbarul {
  float: right;
}

.contentBox {
  text-align: center;
}

.mySlider {
  width: 95%;
  margin: auto;
}

.mySlider .mySliderItem {
  width: 400px;
  margin: 5px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
}

.mycontent {
  width: 100%;
  height: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.mycontent .mycontentLF {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 100%;
  background: #06142f;
  background: -webkit-gradient(linear, left top, right top, from(#06142f), to(#1c548e));
  background: linear-gradient(to right, #06142f, #1c548e);
  position: relative;
}

.mycontent .mycontentLF .mypic {
  position: relative;
  top: 10%;
  left: 55%;
  width: 55%;
  height: 520px;
  z-index: 99;
  background: url("./img/IMG_0939.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.4);
}

.mycontent .mycontentLF .aboutMeTitle {
  position: absolute;
  top: 60px;
  left: 1%;
  color: #b8d4f1;
  font-size: 36px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.mycontent .mycontentLF .logoGroup {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 300px;
  width: 80px;
  top: 280px;
  left: 50px;
}

.mycontent .mycontentLF .logoGroup img {
  width: 30px;
  margin: auto;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
}

.mycontent .mycontentRT {
  padding: 50px 20px 50px 8%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100%;
  background: #b8d4f1;
  background: -webkit-gradient(linear, left top, right top, from(#b8d4f1), to(#71a9e3));
  background: linear-gradient(to right, #b8d4f1, #71a9e3);
}

.mycontent .mycontentRT .myName {
  font-size: 38px;
  color: #06142f;
  font-weight: bold;
}

.mycontent .mycontentRT .myJob {
  font-size: 32px;
  color: #06142f;
}

.mycontent .mycontentRT .myIntroduce {
  font-size: 24px;
  margin: 20px 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: left;
}

/* 卡片特效 */
.card_container {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skill-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 30%;
          flex: 1 0 30%;
  font-size: 18px;
}

.card_common {
  height: 400px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 24%;
          flex: 1 0 24%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 24%;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  margin: 0.5%;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}

.card_common::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  background-size: cover;
  background-position: 0 0;
  -webkit-transition: -webkit-transform calc(700ms * 1.5) cubic-bezier(0.19, 1, 0.22, 1);
  transition: -webkit-transform calc(700ms * 1.5) cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform calc(700ms * 1.5) cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform calc(700ms * 1.5) cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform calc(700ms * 1.5) cubic-bezier(0.19, 1, 0.22, 1);
  pointer-events: none;
}

.card_common::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(11.7%, rgba(0, 0, 0, 0.009)), color-stop(22.1%, rgba(0, 0, 0, 0.034)), color-stop(31.2%, rgba(0, 0, 0, 0.072)), color-stop(39.4%, rgba(0, 0, 0, 0.123)), color-stop(46.6%, rgba(0, 0, 0, 0.182)), color-stop(53.1%, rgba(0, 0, 0, 0.249)), color-stop(58.9%, rgba(0, 0, 0, 0.32)), color-stop(64.3%, rgba(0, 0, 0, 0.394)), color-stop(69.3%, rgba(0, 0, 0, 0.468)), color-stop(74.1%, rgba(0, 0, 0, 0.54)), color-stop(78.8%, rgba(0, 0, 0, 0.607)), color-stop(83.6%, rgba(0, 0, 0, 0.668)), color-stop(88.7%, rgba(0, 0, 0, 0.721)), color-stop(94.1%, rgba(0, 0, 0, 0.762)), to(rgba(0, 0, 0, 0.79)));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: -webkit-transform calc(700ms * 2) cubic-bezier(0.19, 1, 0.22, 1);
  transition: -webkit-transform calc(700ms * 2) cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform calc(700ms * 2) cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform calc(700ms * 2) cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform calc(700ms * 2) cubic-bezier(0.19, 1, 0.22, 1);
}

.card_common::after {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.card_common:hover::after, .card_common:focus-within::after {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.card_common:hover::before, .card_common:focus-within::before {
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
}

.card_common:hover .card-info {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.card_common:hover .card-info p {
  opacity: 1;
}

.card_common:hover .card-info,
.card_common:hover .card-info p {
  -webkit-transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}

.card_common:hover .card-info:after {
  -webkit-transition: 5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: 5s cubic-bezier(0.19, 1, 0.22, 1);
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.card1 {
  background-image: url("./img/views1.jpg");
  height: 330px;
}

.card1::before {
  background-image: url("./img/views1.jpg");
}

.card2 {
  background-image: url("./img/views2.jpg");
  height: 380px;
}

.card2::before {
  background-image: url("./img/views2.jpg");
}

.card3 {
  background-image: url("./img/views3.jpg");
}

.card3::before {
  background-image: url("./img/views3.jpg");
}

.card4 {
  height: 420px;
  background-image: url("./img/views4.jpg");
}

.card4::before {
  background-image: url("./img/views4.jpg");
}

/* 卡片內容 */
.card-info {
  padding: 20px;
  position: absolute;
  bottom: 0;
  color: #fff;
  -webkit-transform: translateY(40%);
          transform: translateY(40%);
  -webkit-transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  z-index: 100;
}

.card-info p {
  opacity: 0;
  text-shadow: black 0 2px 3px;
  -webkit-transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.card-info * {
  position: relative;
  z-index: 1;
}

.card-info:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.6)));
  background-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.6) 100%);
  background-blend-mode: overlay;
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.card-info h2 {
  font-family: "Playfair Display";
  font-size: 36px;
  font-weight: 700;
  text-shadow: rgba(0, 0, 0, 0.5) 0 10px 10px;
}

/*!
 * animate.css -https://daneden.github.io/animate.css/
 * Version - 3.7.2
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 *
 * Copyright (c) 2019 Daniel Eden
 */
@-webkit-keyframes heartBeat {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  14% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
  28% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  42% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
  70% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes heartBeat {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  14% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
  28% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  42% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
  70% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes rolling {
  0% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 0);
    transform: rotate3d(0, 0, 0);
  }
  100% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -360deg);
    transform: rotate3d(0, 0, 1, -360deg);
  }
}

@keyframes rolling {
  0% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 0);
    transform: rotate3d(0, 0, 0);
  }
  100% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -360deg);
    transform: rotate3d(0, 0, 1, -360deg);
  }
}

@media (max-width: 1025px) {
  .card_common {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 32.2%;
            flex: 1 0 32.2%;
    width: 32.2%;
  }
  .mycontent .mycontentLF .mypic {
    width: 70%;
    left: 40%;
  }
}

@media (max-width: 720px) {
  .card_common {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 49%;
            flex: 1 0 49%;
    width: 49%;
  }
  .skill-info {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
  }
  .mycontent {
    height: 880px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mycontent .mycontentLF {
    width: 100%;
  }
  .mycontent .mycontentLF .mypic {
    width: 75%;
    height: 400px;
    margin: auto;
    top: 15%;
    left: 0px;
  }
  .mycontent .mycontentRT {
    padding: 65px 30px 40px 30px;
    width: 100%;
  }
  .mycontent .mycontentRT h1,
  .mycontent .mycontentRT h4 {
    margin-left: 20px;
  }
  .mycontent .mycontentRT .myIntroduce {
    margin: 10px 0;
  }
}

@media (max-width: 510px) {
  .card_common {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
    width: 100%;
  }
}
/*# sourceMappingURL=portfolio.css.map */