$hoverEasing: cubic-bezier(0.19, 1, 0.22, 1);
$returnEasing: cubic-bezier(0.445, 0.05, 0.55, 0.95);
body {
    background-color: #FFF;
}

#Porfolio {
    width: 90%;
    margin: auto;
}

.homepage {
    width: 100%;
    height: 100vh;
    background-image: url("./img/SleepingDogs.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-custom {
    background-color: transparent;
}

.navbar-custom .navbar-toggler-icon {
    background-image: url("./img/menu.png");
}

.navbar-custom .navbar-text {
    color: #FFF;
}

.navbar-custom .navbar-nav .nav-link {
    color: #FFF;
}

.navbar-nav .nav-item a {
    cursor: pointer;
}

.mynavbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 1000;
    position: fixed;
    width: 100%;
}

.mynavbarscroll {
    background-color: #ff5500;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    transition: background-color 0.8s ease;
}

#collapsibleNavbar {
    text-align: right;
}

#collapsibleNavbar .mynavbarul {
    float: right;
}

.contentBox {
    text-align: center;
}

.mySlider {
    width: 95%;
    margin: auto;
}

.mySlider .mySliderItem {
    width: 400px;
    margin: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
}


/* 卡片特效 */

.card_container {
    display: grid;
    place-items: center;
    grid-gap: 1rem;
    padding: 1rem;
    margin: 0 auto;
}

@media (min-width: 600px) {
    .card_container {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        padding: 20px;
    }
}

@media (min-width: 840px) {
    .card_container {
        grid-template-columns: repeat(4, 1fr);
    }
}

.card_common {
    height: 550px;
    position: relative;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    padding: 1rem;
    width: 100%;
    text-align: center;
    color: whitesmoke;
    background-color: whitesmoke;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 120%;
        background-size: cover;
        background-position: 0 0;
        transition: transform calc(700ms * 1.5) $hoverEasing;
        pointer-events: none;
    }
    &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 200%;
        pointer-events: none;
        background-image: linear-gradient( to bottom, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, 0.009) 11.7%, hsla(0, 0%, 0%, 0.034) 22.1%, hsla(0, 0%, 0%, 0.072) 31.2%, hsla(0, 0%, 0%, 0.123) 39.4%, hsla(0, 0%, 0%, 0.182) 46.6%, hsla(0, 0%, 0%, 0.249) 53.1%, hsla(0, 0%, 0%, 0.32) 58.9%, hsla(0, 0%, 0%, 0.394) 64.3%, hsla(0, 0%, 0%, 0.468) 69.3%, hsla(0, 0%, 0%, 0.54) 74.1%, hsla(0, 0%, 0%, 0.607) 78.8%, hsla(0, 0%, 0%, 0.668) 83.6%, hsla(0, 0%, 0%, 0.721) 88.7%, hsla(0, 0%, 0%, 0.762) 94.1%, hsla(0, 0%, 0%, 0.79) 100%);
        transform: translateY(-50%);
        transition: transform calc(700ms * 2) $hoverEasing;
    }
    &::after {
        transform: translateY(0);
    }
    &:hover::after,
    &:focus-within::after {
        transform: translateY(-50%);
    }
    &:hover::before,
    &:focus-within::before {
        transform: translateY(-10%);
    }
    &:hover {
        .card-info {
            transform: translateY(0);
        }
        .card-info p {
            opacity: 1;
        }
        .card-info,
        .card-info p {
            transition: 0.6s $hoverEasing;
        }
        .card-info:after {
            transition: 5s $hoverEasing;
            opacity: 1;
            transform: translateY(0);
        }
    }
}

.card1 {
    background-image: url("./img/views1.jpg");
    &::before {
        background-image: url("./img/views1.jpg");
    }
}

.card2 {
    background-image: url("./img/views2.jpg");
    &::before {
        background-image: url("./img/views2.jpg");
    }
}

.card3 {
    background-image: url("./img/views3.jpg");
    &::before {
        background-image: url("./img/views3.jpg");
    }
}

.card4 {
    background-image: url("./img/views4.jpg");
    &::before {
        background-image: url("./img/views4.jpg");
    }
}


/* 卡片內容 */

.card-info {
    padding: 20px;
    position: absolute;
    bottom: 0;
    color: #fff;
    transform: translateY(40%);
    transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
    z-index: 100;
    p {
        opacity: 0;
        text-shadow: rgba(black, 1) 0 2px 3px;
        transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    * {
        position: relative;
        z-index: 1;
    }
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient( to bottom, transparent 0%, rgba(#000, 0.6) 100%);
        background-blend-mode: overlay;
        opacity: 0;
        transform: translateY(100%);
        transition: 5s 1s $returnEasing;
    }
}

.card-info h2 {
    font-family: "Playfair Display";
    font-size: 36px;
    font-weight: 700;
    text-shadow: rgba(black, 0.5) 0 10px 10px;
}